
  <div class="activities-header">
    <div class="title-section">
      <h4 *ngIf="!fromChartClick">Activities</h4>
      <span *ngIf="!fromChartClick" class="result-count">Result: {{ filteredData.length }} Activities</span>
      <h4 *ngIf="fromChartClick">Tabular View {{ chartFilterLabel }}</h4>
    </div>

    <div class="toolbar-section">
      <form [formGroup]="searchForm" class="search-form" *ngIf="!fromChartClick">
       
        <kendo-textbox formControlName="search" placeholder="Search in all column" icon="search"></kendo-textbox>
         <span class="search-icon material-symbols-outlined">search</span>
      </form>
     <button type="button" (click)="excelExport.save()" class="export-icon">
  <!-- <span class="material-symbols-outlined">arrow_circle_down</span> -->

      <img src="assets/images/excel.png" alt="Excel Export" />
 
</button>

      <button type="button" (click)="toggleExpandView()">
        <span class="material-symbols-outlined">
          {{ isExpandedView ? 'fullscreen' : 'fullscreen_exit' }}
        </span>
      </button>
      <span title="Settings" class="material-symbols-outlined">settings</span>

       <button *ngIf="fromChartClick" type="button" (click)="onClearChartFilter()" title="Close" class="close-button">
    <span class="material-symbols-outlined">close</span>
  </button>
    </div>
  </div>

  <kendo-grid
    #grid
    [kendoGridBinding]="filteredData"
    [selectable]="{ mode: 'multiple', drag: true }"
    [pageSize]="10"
     [pageable]="{
    buttonCount: 5,
    info: false,       
    previousNext: true
  }"
    [sortable]="true"
    [reorderable]="true"
    [resizable]="true"
    [height]="500"
    [filterable]="'menu'"
    kendoGridExcel
    [columnMenu]="true"
   
  >

   <!-- [columnMenu]="true" need to add above to show filter--> 
  <kendo-grid-column
  *ngFor="let col of columns"
  [field]="col.field"
  [title]="col.title"
  [width]="col.width ?? 150"
  [filterable]="col.filterable !== false"
>
  <ng-template kendoGridColumnMenuTemplate let-service="service" let-column="column">
    <kendo-grid-columnmenu-filter [service]="service">
      <span class="material-symbols-outlined custom-filter-icon">more_vert</span>
    </kendo-grid-columnmenu-filter>
  </ng-template>

  <ng-template
    kendoGridFilterMenuTemplate
    let-filter
    let-column="column"
    let-filterService="filterService"
  >
    <multicheck-filter
      [isPrimitive]="true"
      [field]="column.field"
      [filterService]="filterService"
      [currentFilter]="filter"
      [data]="distinctPrimitive(column.field)"
    ></multicheck-filter>
  </ng-template>
</kendo-grid-column>

  </kendo-grid>

  <kendo-excelexport
  #excelExport
  [data]="filteredData"
  [fileName]="fileName"
>
  <kendo-excelexport-column
    *ngFor="let col of columns"
    [field]="col.field"
    [title]="col.title"
     [width]="col.width ?? 150"
  >
  </kendo-excelexport-column>
</kendo-excelexport>


