 ul {
        list-style-type: none;
        height: 200px;
        overflow-y: scroll;
        padding-left: 0;
        padding-right: 12px;
      }

      ul > li {
        padding: 8px 12px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-bottom: none;
      }

      ul > li:last-of-type {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      }

      .k-checkbox-label {
        pointer-events: none;
      }

      ::ng-deep .k-button-solid-primary {
    border-color: #147D64;
    color: white;
    background-color: #147D64;
    
}

::ng-deep .k-button-solid-primary:hover, .k-button-solid-primary.k-hover {
    border-color: #106c56;
    background-color: #106c56;

}

::ng-deep .k-checkbox:checked, .k-checkbox.k-checked {
    border-color: #147D64;
    color: white;
    background-color: #147D64;
}

::ng-deep  .k-grid-header .k-grid-header-menu.k-active {
    color: var(--kendo-color-on-primary, #ffffff);
    background-color: #147D64 !important;
}