<div class="dashboard-container">

  <div class="header-row">
    <div class="operation-title">
      <h1>Quality</h1>
    </div>
    <div class="upload-actions">
      <div class="upload-info">
         <span class="kaizen-image" (click)="openKaizen()">
      <img src="assets/images/Kaizen-btn.png" alt="Kaizen logo" />
      </span>
        <span class="upload-label">
          Last uploaded: <strong class="upload-date">04 Feb 2025</strong>
        </span>
        <div class="ytd-division-bar"></div>
        <div class="ytd-content">
              YTD
        </div>
         <div class="percentage-circle">
          <div class="circle" [style.--percentage]="percentage">
            <span class="value">{{ percentage }}%</span>
          </div>
        </div>
        <button kendoButton look="outline" class="do-vs-buy-btn">Do vs Buy</button>
      </div>
      
    </div>
  </div>
  <div class="tab-details">
<kendo-tabstrip>
  <kendo-tabstrip-tab *ngFor="let tab of tabButtons; let i = index" [title]="tab.label" [selected]="tab.value === activeTabValue" class="tab-main-content">
    <ng-template kendoTabContent class="tab-content">
      

        <ng-container *ngIf="tab.value === 'NCR'" class="tab-content-details">

          <!-- <app-breadcrumb
            *ngIf="!isExpandedView && selectedBreadcrumb.length"
            [breadcrumbs]="selectedBreadcrumb">
          </app-breadcrumb> -->

      <div *ngIf="selectedContracts.length > 0" class="selected-summary" [title]="getSelectedContractsTooltip()">
  <span class="selected-line">
    {{ getSelectedContractsInline() }}...
  </span>
</div>



          <div class="reassign-alert" *ngIf="hasReassignRequests && !isExpandedView">
            <div class="alert-text">
              <span class="material-symbols-outlined">notification_important</span>
              You have received <strong>3 primary resource re-assignment requests</strong>
              <a href="#">View requests</a>
            </div>
            <button class="close-btn" (click)="hasReassignRequests = false">
              <span class="material-symbols-outlined">close</span>
            </button>
          </div>

          <div class="filter-activities-section">
            <!-- Filter Header -->
            <div class="filter-activities-header">
              <div class="filter-activities-title">Filter Activities</div>
              <div class="filter-activities-actions">
                <button kendoButton fillMode="flat" themeColor="primary" class="clear-button" (click)="clearFilters()">Clear Filter</button>
     
     
                <div class="settings-dropdown-wrapper">
  <!-- Three-dot button -->
  <button
    #anchor
    class="activity-setting"
    (click)="toggleSettingsPopup()"
    (mouseenter)="hovering = true"
    (mouseleave)="hovering = false"
    [ngClass]="{ 'hover': hovering || showSettingsPopup }"
  >
    <span class="material-symbols-outlined">more_horiz</span>
  </button>

  <!-- Popup with submenu -->
  <kendo-popup
  *ngIf="showSettingsPopup"
  [anchor]="anchor"
  popupClass="kendo-settings-popup"
  [anchorAlign]="{ horizontal: 'left', vertical: 'bottom' }"
  [popupAlign]="{ horizontal: 'right', vertical: 'top' }"
  [offset]="{ left: -170, top: 2 }"
  [collision]="{ horizontal: 'fit', vertical: 'fit' }"
>
  <!-- Save Filter -->
  <div class="popup-item" (click)="onSaveFilter()">
    <span class="material-symbols-outlined icon">save</span>
    <span class="text">Save Filter</span>
  </div>

  <!-- Load Filter with submenu -->
  <div
    class="popup-item has-submenu"
    (mouseenter)="submenuOpen = true"
    (mouseleave)="submenuOpen = false"
  >
    <div class="submenu-header">
    <span class="material-symbols-outlined icon">filter_list</span>
    <span class="text">Load Filter</span>
    <span *ngIf="savedGridFilters.length"  class="material-symbols-outlined submenu-arrow">chevron_right</span>
  </div>

    <!-- Submenu on left side -->

    <div class="submenu" *ngIf="submenuOpen && savedGridFilters.length">
    <div
      class="submenu-item"
      *ngFor="let filter of savedGridFilters"
      (click)="onLoadFilter(filter)"
    >
      {{ filter }}
    </div>
  </div>
    </div>

  <!-- Instructions -->
<div
  class="popup-item"
  kendoTooltip
  [title]="tooltipText"
  position="left"
  tooltipClass="custom-tooltip"
  (click)="onInstructions()"
>
  <span class="material-symbols-outlined icon">help</span>
  <span class="text">Instructions to Use</span>
</div>


</kendo-popup>


</div>

                <button class="expand-button" (click)="toggleFilterActivityExpandView()">
                  <span class="material-symbols-outlined">
                    {{ isFilterActivityExpandedView ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                  </span>
                </button>
              </div>
            </div>

            <!-- Filter Form -->
          <form [formGroup]="filterActivityForm" class="filter-controls-row" *ngIf="!isFilterActivityExpandedView">
  <div class="filter-control" *ngFor="let control of filterControls">
    <label>{{ control.label }}</label>
    <ng-container [ngSwitch]="control.type">
      <kendo-dropdownlist
        *ngSwitchCase="'dropdown'"
        [formControlName]="control.name"
        [data]="control.data">
      </kendo-dropdownlist>

      <kendo-multiselect
        *ngSwitchCase="'multiselect'"
        [formControlName]="control.name"
        [data]="control.data">
      </kendo-multiselect>
    </ng-container>
  </div>
</form>


  
          </div>

          <!-- Activities Grid -->
<div class="activities-grid-section">
  <ng-container *ngIf="filterActivityForm.get('viewAs')?.value === 'Tabular'; else chartView">
    <app-activity-grid
      [data]="chartFilteredGridData.length ? chartFilteredGridData : gridData"
      [originalData]="originalGridData"
      [columns]="gridColumns"
      [fileName]="'NCR-Activities.xlsx'"
      [searchableFields]="['ncrNumber', 'partId', 'productDescription','partNo', 'ncrArea','imputationCode','type']"
    ></app-activity-grid>
  </ng-container>

  <ng-template #chartView>
    <app-activity-chart
      [data]="gridData"
      (barClick)="onChartBarClick($event)">
    </app-activity-chart>
  </ng-template>
</div>

        </ng-container>

        <ng-container *ngIf="tab.value === 'NCM'">
          <h3>NCM Content ...</h3>
        </ng-container>

        <ng-container *ngIf="tab.value === 'ECN'">
          <h3>ECN Content ...</h3>
        </ng-container>
        <ng-container *ngIf="tab.value === 'ECR'">
          <h3>ECR Content ...</h3>
        </ng-container>
        <ng-container *ngIf="tab.value === 'COQ'">
          <h3>COQ Content ...</h3>
        </ng-container>
        <ng-container *ngIf="tab.value === 'CCM'">
          <h3>CCM Content ...</h3>
        </ng-container>
        <ng-container *ngIf="tab.value === 'OTRDR'">
          <h3>OTRDR Content ...</h3>
        </ng-container>
        <ng-container *ngIf="tab.value === 'FMEA'">
          <h3>FMEA Content ...</h3>
        </ng-container>
        <ng-container *ngIf="tab.value === 'RCA-NCA-CAPA'">
          <h3>RCA-NCA-CAPA Content ...</h3>
        </ng-container>
        <ng-container *ngIf="tab.value === 'Product Quality'">
          <h3>Product Quality Content ...</h3>
        </ng-container>
        <ng-container *ngIf="tab.value === 'Product Safety'">
          <h3>Product Safety Content ...</h3>
        </ng-container>
     
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
 </div>

</div>