.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    display: flex;
    align-items: center;
        padding: 5px 6px 8px 2px;
    margin: 10px 5px 5px 5px;
    color: #645f5f;
    cursor: pointer;
    transition: background-color 0.2s;
    border-left: 4px solid transparent;
    cursor: pointer !important;

    &:hover {
    background-color: #E6F4F1;  
      border-radius: 500px;
       color: #147D64;  
    }

    &.active {

      background-color: #E6F4F1;           
  color: #147D64;                     
  font-weight: bold;
 border-radius: 500px;
    padding: 5px 6px 8px 2px;
        margin: 10px 5px 5px 5px;
    }

    .label {
      margin-left: 10px;
    }
  }

  .filter-icon{
      border-bottom: 1px solid #ccc;
    height: 42px;
    margin: 0px;
    padding-left: 6px;

    li{
      background-color: #E6F4F1;
    border-radius: 663px;
    height: 18px;
    color: #147D64;

     &:hover {
    background-color: #E6F4F1;  
      border-radius: 500px;
       color: #147D64;  
    }
    }
  }

  .material-symbols-outlined {
    font-size: 18px;
  }
}