.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 17px auto;
    color: #645f5f;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: 38px;
    height: 38px;

    &:hover,
    &.active {
      background-color: #E6F4F1;
      color: #147D64;
      border-radius: 50%;
      font-weight: bold;
    }

    .material-symbols-outlined {
      font-size: 20px;
    }
  }


  .general-icon {
    padding: 0;
  }


  .filter-icon {
    // padding-top: 8px;
    // padding-bottom: 2px;
    position: relative;
    margin-top: 8px;
    margin-bottom: 9px;

    // &::after {
    //   content: '';
    //   position: absolute;
    //   bottom: -10px; 
    //   left: 0;
    //   width: 100%;
    //   height: 1px;
    //   background-color: #ccc;
    // }
  }

  .main-filter-contract{
  
  border-bottom: 1px solid lightgray;
  }
}
