body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// ::ng-deep .k-grid-header .k-grid-filter.k-active, .k-grid-header .k-header-column-menu.k-active, .k-grid-header .k-grid-header-menu.k-active, .k-grid-header .k-hierarchy-cell .k-icon.k-active {
// color: green;
// }

::ng-deep .k-grid-header .k-grid-filter.k-active, .k-grid-header .k-header-column-menu.k-active, .k-grid-header .k-grid-header-menu.k-active, .k-grid-header .k-hierarchy-cell .k-icon.k-active {
    color: var(--kendo-color-on-primary, #ffffff);
    background-color: green;
}

::ng-deep .k-grid-header .k-grid-header-menu.k-active{
  background-color: green !important;
} 



